<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BackupRestore.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <BackupRestore.Properties.Settings>
            <setting name="password" serializeAs="String">
                <value/>
            </setting>
            <setting name="exclusiones" serializeAs="String">
                <value>.temp .tmp .old .000 .$$$ .bak .b~k</value>
            </setting>
            <setting name="tipo_disco" serializeAs="String">
                <value>USB</value>
            </setting>
            <setting name="label_disco" serializeAs="String">
                <value>COPIAS</value>
            </setting>
            <setting name="compresion" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="control_errores" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ejecutarAntes" serializeAs="String">
                <value/>
            </setting>
            <setting name="ejecutarDespues" serializeAs="String">
                <value/>
            </setting>
            <setting name="prgNombreServicio" serializeAs="String">
                <value>Backup&amp;Restore</value>
            </setting>
            <setting name="prgRutaEjecutable" serializeAs="String">
                <value/>
            </setting>
            <setting name="prgDias" serializeAs="String">
                <value>0,1,2,3,4</value>
            </setting>
            <setting name="prgHora" serializeAs="String">
                <value/>
            </setting>
            <setting name="prgUsuario" serializeAs="String">
                <value/>
            </setting>
            <setting name="prgPassword" serializeAs="String">
                <value/>
            </setting>
            <setting name="prgEjecutarSinIniciarSesion" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="prgRegistrarErrores" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="prgApagarAlFinalizar" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="prgSegundoPlano" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="prgDestinatario" serializeAs="String">
                <value/>
            </setting>
            <setting name="prgServSMTP" serializeAs="String">
                <value/>
            </setting>
            <setting name="prgUsuarioSMTP" serializeAs="String">
                <value/>
            </setting>
            <setting name="prgPasswordSMTP" serializeAs="String">
                <value/>
            </setting>
            <setting name="prgConexionSSL" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="prgPuertoSMTP" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="prgEnviarInforme" serializeAs="String">
                <value>False</value>
            </setting>
        </BackupRestore.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <!--<runtime>
    <gcServer enabled = "true"/>
    <gcConcurrent enabled="false"/>
  </runtime>-->
</configuration>
